<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pagina index</title>
</head>
<body>
    Esta página es generada dinámicamente a partir de un template: {{ fecha }}
</body>
</html>